---
import Logo from '@/components/Logo.astro'
import ThemeSwitcher from '@/components/ThemeSwitcher.astro'
import config from '@/config/config.json'
import menu from '@/config/menu.json'
import { IoSearch } from 'react-icons/io5/index.js'

export interface ChildNavigationLink {
  name: string
  url: string
}

export interface NavigationLink {
  name: string
  url: string
  hasChildren?: boolean
  children?: ChildNavigationLink[]
}

const { settings } = config
---

<header
  class={`header z-30 shadow border-b border-black  ${settings.sticky_header && 'sticky top-0'}`}
>
  <nav class="navbar container">
    <!-- logo -->
    <div class="">
      <Logo />
    </div>

    <div class="ml-auto flex items-center lg:ml-0">
      {
        settings.search && (
          <button
            class="border-border text-dark hover:text-primary dark:border-darkmode-border mr-5 inline-block border-r pr-5 text-xl dark:text-white dark:hover:text-darkmode-primary"
            aria-label="search"
            data-search-trigger
          >
            <IoSearch />
          </button>
        )
      }
      <ThemeSwitcher className="mr-5" />
    </div>
  </nav>
</header>
